@import 'styles/index';

.menu {
  &__icon {
    display: none;
    position: absolute;
    top: 29px;
    right: 20px;
    width: 30px;
    height: 22px;
    z-index: 5;

    span {
      transition: all 0.3s ease 0s;
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #353535;

      &:first-child {
        top: 0px;
      }

      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }

    @media (max-width: $mobile) {
      display: block;
    }

    &.open {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(45deg);
          top: 10px;
        }

        &:last-child {
          transform: rotate(-45deg);
          top: 10px;
        }
      }
    }
  }

  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: -110%;
      left: 0;
      background-color: #ced4da;
      z-index: 2;
      padding: 100px 10px 20px 10px;
      overflow: auto;
      transition: all 0.3s ease 0s;

      &.open {
        top: 0;
      }
    }
  }

  &__list {
    display: flex;
    gap: 20px;

    @media (max-width: $mobile) {
      font-size: 18px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
}
