@import 'styles';

.posts {
  &__title {
    font-size: 32px;
    @include adaptiveValue('font-size', 32, 20);
    font-weight: 700;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__add {
    display: inline-block;
    padding: 5px 15px;

    font-size: 14px;
    @include adaptiveValue('font-size', 14, 12);
    font-weight: 500;
    text-transform: uppercase;

    border-radius: 5px;
    border: 1.5px solid #adb5bd;
    transition: all 0.2s ease 0s;

    &:hover {
      box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    }

    &.first {
      padding: 10px;
      width: 290px;
      margin: 25px auto 0 auto;
    }
  }

  &__list {
    padding: 15px 0px 0px 0px;
    @include adaptiveValue('padding-top', 15, 10);

    display: flex;
    flex-direction: column;
  }
}

.list {
  &__header {
    padding: 15px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ced4da;

    font-weight: 700;

    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.header {
  &__number {
    flex: 0 0 5%;
  }

  &__title {
    flex: 0 0 30%;
  }

  &__body {
    flex: 1 1 auto;
  }
}
