.tasks {
  padding: 10px 0px 0px 0px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  &__header {
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    border-bottom: 1px solid #000;
  }

  &__filter {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
