@import 'styles/index';

.profile {
  position: relative;
  z-index: 5;

  @media (max-width: $mobile) {
    margin: 0px 30px 0px 0px;
  }

  &__icon {
    &:hover {
      cursor: pointer;
    }

    img {
      width: 28px;
      height: 28px;
      object-fit: cover;
    }
  }
}
