.tasks {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__title {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #000;

    font-size: 20px;
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
