@import 'styles';

.comments {
  padding: 15px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    align-self: start;
    font-size: 18px;
    @include adaptiveValue('font-size', 18, 14);
    font-weight: 700;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: #353535;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
