.add {
  padding: 15px 0px 0px 0px;

  &__body {
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: rgba($color: #ced4da, $alpha: 0.3);
    border-radius: 10px;
  }
}
