.input {
  display: flex;
  flex-direction: column;
  gap: 7px;

  &__label {
    font-weight: 500;
  }

  &__input {
    width: 100%;
    display: inline-block;
    padding: 5px 7px;

    font-size: 14px;
    font-weight: 300;

    border: 0.5px solid rgba(#000, 0.6);
    transition: all 0.2s ease 0s;

    &:focus {
      box-shadow: 0px 2px 10px 1px rgba(34, 60, 80, 0.2);
    }

    &.err {
      border: 1px solid red;

      &:focus {
        box-shadow: 0px 2px 10px 1px rgba(red, 0.2);
      }
    }
  }

  &__error {
    color: red;
    font-size: 13px;
    font-weight: 500;
    text-align: right;
  }
}
