.button {
  min-width: 75px;
  max-width: 100px;
  padding: 3px 7px;

  border-radius: 5px;
  background-color: transparent;
  transition: all 0.2s ease 0s;

  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;

  &.add {
    padding: 5px 10px;

    font-size: 14px;
    font-weight: 400;
    text-transform: none;

    border: 1px solid rgba($color: #ced4da, $alpha: 1);
    background-color: rgba($color: #ced4da, $alpha: 0.6);
    color: #000;

    &:hover {
      background-color: rgba($color: #adb5bd, $alpha: 0.7);
    }
  }

  &.complete {
    border: 1px solid #38b000;
    background-color: rgba($color: #38b000, $alpha: 0.1);
    color: #38b000;

    &:hover {
      box-shadow: 0px 0px 10px 2px rgba($color: #38b000, $alpha: 0.2);
    }
  }

  &.edit {
    border: 1px solid #ff9500;
    background-color: rgba($color: #ff9500, $alpha: 0.1);
    color: #ff9500;

    &:hover {
      box-shadow: 0px 0px 10px 2px rgba($color: #ff9500, $alpha: 0.2);
    }
  }

  &.delete {
    border: 1px solid #c9184a;
    background-color: rgba($color: #c9184a, $alpha: 0.1);
    color: #c9184a;

    &:hover {
      box-shadow: 0px 0px 10px 2px rgba($color: #c9184a, $alpha: 0.2);
    }
  }

  &.save {
    border: 1px solid rgba($color: #ced4da, $alpha: 1);

    &:hover {
      box-shadow: 0px 0px 10px 2px rgba($color: #ced4da, $alpha: 1);
    }
  }

  &.selected {
    border: 1px solid #007bff;
    background-color: rgba($color: #007bff, $alpha: 0.1);
    color: #007bff;

    &:hover {
      box-shadow: 0px 0px 10px 2px rgba($color: #007bff, $alpha: 0.2);
    }
  }
}
